	* {
		box-sizing: border-box;
	
	}

	body {
		background-image: url("images/esta.png");

	}

	.ula {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: rgba(255, 255, 255, 0.74);
	}
	
	li {
		float: left;
	}
	
	li a {
		display: block;
		color: rgb(5, 7, 104);
		text-align: center;
		text-decoration: none;
		font-size: 20px;
		margin-top: 25px;
		margin-left: 10px;

	}
	li a:hover{
		text-decoration: underline;
		color:#FFF;
	}

	.imga{
		width:10%;
		float:right;
		margin-right: 15;
		margin-top: 5;
	}
	.planetas{
		display:flex; 
		align-items: center; 
		justify-content: center;
	}
	.planeta{
		width: 210px;
		height: 210px;
	}
  .btnSubmit
  {
			text-align: center;
        border:none;
        border-radius:1.5rem;
        padding: 1%;
        width: 20%;
        cursor: pointer;
        background: -webkit-linear-gradient(left, #008cff, #00c3ff);
        color: #fff;
	}
	h3{
		color:white;
		text-align: center;
		margin-top: 30px;
	}
	.descripcion{
		color:white;
		font-size: 20px;
	}
