/* Basic Styling */
body {
  background-image: url("images/esta.png");
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  margin-top: 100px;
}
/*HEADER*/
.ula {
  list-style-type: none;
  margin: 0;
  padding: 10;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.74);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(5, 7, 104);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 40px;
  margin-top: 15px;
  font-family: "Arial";
}
li a:hover{
  text-decoration: underline;
  color:#FFF;
}
.imga{
  width:10%;
  float:right;
  margin-right: 15;
  margin-top: 5;
}
/* Columns */
.left-column {
  width: 65%;
  position: relative;
  margin-right: 50px;
}

.right-column {
  width: 35%;
  margin-top: 100px;
}


/* Left Column */
.left-column img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: rgb(255, 255, 255);
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 24px;
}



/* Product Color */
.product-color {
  margin-bottom: 30px;

}

.color-choose div {
  display: inline-block;
  margin-top:10px;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 70px;
  height: 95px;
  margin-top:5px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(12, 12, 12, 0.33);
  
}

.color-choose input[type="radio"]#sun + label span {
  background-image: url("CARTAS/EXPEDITIONNAIRE.PNG");
  background-size: cover;
}

.color-choose input[type="radio"]#ahch-to + label span {
  background-image: url("CARTAS/EXPLORER.PNG");
  background-size: cover;
}

.color-choose input[type="radio"]#arcoiris + label span {
  background-image: url("CARTAS/FARRAEXOTICA.PNG");
  background-size: cover;
}

.color-choose input[type="radio"]#jupiter + label span {
  background-image: url("CARTAS/FLOTTEALIENPERDUE.PNG");
  background-size: cover;
}

.color-choose input[type="radio"]#mercurio+ label span {
  background-image: url("CARTAS/LIGAMINERA.PNG");
  background-size: cover;
}

.color-choose input[type="radio"]#planet + label span {
  background-image: url("CARTAS/MONDEPROSPERE.PNG");
  background-size: cover;
}
.color-choose input[type="radio"]#pluto + label span {
  background-image: url("CARTAS/NUEVATIERRA.PNG");
  background-size: cover;
}
.color-choose input[type="radio"]#saturno + label span {
  background-image: url("CARTAS/ORDENGALACTICA.PNG");
  background-size: cover;
}
.color-choose input[type="radio"]#tatooine + label span {
  background-image: url("CARTAS/RACEREPTILIANNE.PNG");
  background-size: cover;
}
.color-choose input[type="radio"]#Teth + label span {
  background-image: url("CARTAS/SOCIEDADDECONSUMACION.PNG");
  background-size: cover;
}
.color-choose input[type="radio"]#mazo + label span {
  background-image: url("CARTAS/RACEREPTILIANNE.PNG");
  background-size: cover;
}
.color-choose input[type="radio"]#ex1 + label span {
  background-image: url("CARTAS/ASTROPORT.PNG");
  background-size: cover;
}


.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}


/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: rgb(11, 0, 112);
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #413fce;
  color:white;
}







/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
